@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user.css";
@import "components/badge.css";
@import "components/open-chat.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  background-color: white;
  font-family: "Oswald", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px 25px;
}
