.recommended-friends {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: var(--main-border);
}

.recommended-friends__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
