.find-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-bottom: 8px;
}

.recommended-friends {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: var(--main-border);
}

.recommended-friends__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
