#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 10px 0px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.3);
}
