.nav {
  background-color: var(--chickyellow);
  padding: 20px 50px;
  border-top: 1px wheat solid;
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 70px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}

.nav__btn {
  position: relative;
}

.nav__noti {
  position: absolute;
  left: 20px;
  top: -5px;
  animation: notiFlip 1s ease-in-out infinite;
}

.nav__btn {
  transform: translateY(60px);
  opacity: 0;
  animation: helloNav 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes notiFlip {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

@keyframes helloNav {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
