.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
}

.screen-header__icon > span {
  margin-left: 20px;
}

.screen-header__icon {
  position: relative;
}
.screen-header__icon-search-add {
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  left: 80px;
  top: -3px;
}
