.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 15px;
}

.user-component__profile--xl {
  width: 80px;
  height: 80px;
}

.user-component__profile--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__title--not-bold {
  font-weight: 400;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 5px;
  opacity: 0.8;
  font-size: 14px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 5px;
}
